



#alignm{
   position: absolute;
    margin-left: 5vw;
    margin-top: 2px; 
  }

  .main_wrapper{
width:1800px;
height:auto;
margin:auto;
}
#content{
width:2800px;
height:auto;
margin:auto; 
body {background:#A9A9A9;}

.main_wrapper{
width:1800px;
height:auto;
margin:auto;
}








